.MainLayout {
    min-height: 100vh;
}

.Content {
    padding: 1rem;
    background-color: #fff;
}

.NavHeader {
    display: flex;
    justify-content: flex-end;
}
.NavItem {
    color: #fff;
}