.MainLayout {
    min-height: 100vh !important;
}


.Logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}


.TopNav {    
    background-color: #fff !important;
    padding: 0;
}


.Background {
    background: #fff;
    margin: 24px 16px;
    padding: 24px;
    min-height: 280px;
}


.ToggleBtn {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}
.ToggleBtn:hover {    
    color: #1890ff;
}