.main-container {
  .hero-title {
    font-size: 50px;
    font-weight: 700;
  }
  .hero-subtitle {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .menu-links {
    font-size: 16px;
  }
  .menu-logo {
    font-size: 36px;
    font-weight: 700;
  }
  .header {
    padding: 15px 90px;
  }
  .landing-page {
    padding: 15px 90px;
  }
  .hero-section {
    height: 85vh;
  }
  .section-title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
  }
}
