
  .hero-title {
    font-size: xx-large;
    font-weight: 700;
  }
  .hero-subtitle {
    font-size: large;
    margin-bottom: 20px;
  }
  .menu-links {
    font-size: 16px;
  }
  .menu-logo {
    font-size: 36px;
    font-weight: 700;
  }
  .header {
    padding: 15px 90px;
  }
  .landing-page {
    padding: 15px 90px;
  }
  .hero-section {
    height: 85vh;
   
  }
  .section-title {
    font-size: x-large;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
  }
  .hero_image{
    margin-left: -100px;
  }


@media only screen and (max-width: 768px) {

  .header {
    padding: 15px 30px ;
  }
  .landing-page {
    padding: 15px 30px;
  }
  .hero-title{
    font-size: x-large;
  }
  .hero-subtitle{
    font-size: medium;
  }
  .hero_image{
    margin-left: 0px;
    max-width: 350px;
    margin-top: 60px;
  }
 } 

 .hamburger{
  display: none;
}

.drawer-menu .ant-drawer-body {
  text-align: center !important;
}

@media only screen and (max-width: 768px) {
 
  .menu{
      display: none;
  }

 
  .hamburger {
      display: block;
      cursor: pointer;
  }

}

