// ######################################## //
// ## CONTENT.SCSS ## //
// ######################################## //

.parent-layout {
  min-height: 100vh;
}

.child-layout {
  min-height: 100vh;
  flex-direction: row;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.super-content {
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

.main-content {
  background-color: white;
  min-height: 30;
  border-radius: 10px;
  padding: 10px;
}

.heading {
  color: grey;
  font-size: 26px;
  font-weight: 700;
}

.logo-container {
  // background-color: $white;
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.login-image {
  background-repeat: repeat;
  background-size: contain;
  width: 100%;
  height: 100%;

  // opacity: 0.9;
  //   background-image: url('../../assets/main-background-2.jpeg');
}

.main-content-login {
  display: flex;
  height: 80%;
  flex-direction: row;
  padding: 20px;
  margin-top: 3%;
}

.ant-form-item-label > label {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 32px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  font-weight: 500;
}

.ant-page-header-footer {
  margin-top: 0px !important;
}

.ant-descriptions-item-label {
  color: black;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5715;
  text-align: start;
}

.input-full-width {
  width: 100%;
}
