// ######################################## //
// ## HEADER.SCSS ## //
// ######################################## //

.layout-header {
  background-color: white !important;
  //   max-height: 80px;
  //   border-bottom-left-radius: 15px;
  //   border-bottom-right-radius: 15px;

  padding-left: 20px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 50px;
  height: 50px;
}

.header-sub-container-1 {
  flex: 1;
}

.header-sub-container-2 {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  //   background-color: lightgreen;
}

.profile-menu {
  min-width: 130px;
}

.user-img {
  font-weight: 600;
  font-size: 16px;
}

.avtaar {
  margin-right: 20px;
  margin-left: 20px;
}

.location-selector {
  min-width: 200px;
  border-radius: 80px;
}
